In [1]:
import pandas as pd

In [2]:
p_comp=pd.read_csv('P_Comp.csv')
p_pro=pd.read_csv('P_Pro.csv')
wp=pd.read_csv('wp.csv')

In [3]:
p_comp

       Date  International Petrol Consumption
0    Jan-73                       2238.668455
1    Feb-73                       2262.142818
2    Mar-73                       2262.886818
3    Apr-73                       2260.368591
4    May-73                       2314.251273
5    Jun-73                       2285.879182
6    Jul-73                       2363.156773
7    Aug-73                       2332.857636
8    Sep-73                       2376.528182
9    Oct-73                       2331.407727
10   Nov-73                       2208.972864
11   Dec-73                       2228.130182
12   Jan-74                       2277.182091
13   Feb-74                       2297.888727
14   Mar-74                       2323.690864
15   Apr-74                       2350.510409
16   May-74                       2356.934818
17   Jun-74                       2341.491091
18   Jul-74                       2295.671818
19   Aug-74                       2230.001682
20   Sep-74                       2246.874000
21   Oct-74                       2258.075182
22   Nov-74                       2262.877773
23   Dec-74                       2240.178636
24   Jan-75                       2137.979455
25   Feb-75                       2093.075955
26   Mar-75                       2095.087955
27   Apr-75                       2078.229818
28   May-75                       2096.347864
29   Jun-75                       2152.164136
..      ...                               ...
529  Feb-17                        248.242252
530  Mar-17                        247.246403
531  Apr-17                        245.684415
532  May-17                        248.317885
533  Jun-17                        250.508637
534  Jul-17                        251.922012
535  Aug-17                        250.381458
536  Sep-17                        250.337596
537  Oct-17                        251.419343
538  Nov-17                        253.639422
539  Dec-17                        252.010349
540  Jan-18                        252.674620
541  Feb-18                        253.528864
542  Mar-18                        253.709623
543  Apr-18                        253.058655
544  May-18                        252.985416
545  Jun-18                        255.273071
546  Jul-18                        257.354145
547  Aug-18                        258.931860
548  Sep-18                        258.002120
549  Oct-18                        260.445267
550  Nov-18                        260.774742
551  Dec-18                        258.896074
552  Jan-19                        255.810485
553  Feb-19                        255.468112
554  Mar-19                        254.523302
555  Apr-19                        254.814160
556  May-19                        253.834612
557  Jun-19                        255.324021
558  Jul-19                        254.600441

[559 rows x 2 columns]

In [4]:
p_pro

       Date  International Petrol Production
0    Jan-73                        49250.706
1    Feb-73                        49767.142
2    Mar-73                        49783.510
3    Apr-73                        49728.109
4    May-73                        50913.528
5    Jun-73                        50289.342
6    Jul-73                        51989.449
7    Aug-73                        51322.868
8    Sep-73                        52283.620
9    Oct-73                        51290.970
10   Nov-73                        48597.403
11   Dec-73                        49018.864
12   Jan-74                        50098.006
13   Feb-74                        50553.552
14   Mar-74                        51121.199
15   Apr-74                        51711.229
16   May-74                        51852.566
17   Jun-74                        51512.804
18   Jul-74                        50504.780
19   Aug-74                        49060.037
20   Sep-74                        49431.228
21   Oct-74                        49677.654
22   Nov-74                        49783.311
23   Dec-74                        49283.930
24   Jan-75                        47035.548
25   Feb-75                        46047.671
26   Mar-75                        46091.935
27   Apr-75                        45721.056
28   May-75                        46119.653
29   Jun-75                        47347.611
..      ...                              ...
529  Feb-17                       289429.136
530  Mar-17                       287497.239
531  Apr-17                       286877.550
532  May-17                       289741.720
533  Jun-17                       291875.415
534  Jul-17                       294037.900
535  Aug-17                       291783.839
536  Sep-17                       292217.818
537  Oct-17                       293700.468
538  Nov-17                       295432.243
539  Dec-17                       293199.718
540  Jan-18                       294525.300
541  Feb-18                       295367.562
542  Mar-18                       295706.090
543  Apr-18                       295885.005
544  May-18                       295849.443
545  Jun-18                       298371.656
546  Jul-18                       300698.801
547  Aug-18                       302101.640
548  Sep-18                       302215.077
549  Oct-18                       304741.655
550  Nov-18                       305019.179
551  Dec-18                       303033.664
552  Jan-19                       298683.284
553  Feb-19                       298063.441
554  Mar-19                       298013.623
555  Apr-19                       298315.383
556  May-19                       297656.181
557  Jun-19                       298811.568
558  Jul-19                       297266.932

[559 rows x 2 columns]

In [5]:
com_pro=pd.merge(p_comp, p_pro, on='Date', how='outer')

In [6]:
com_pro

       Date  International Petrol Consumption  International Petrol Production
0    Jan-73                       2238.668455                        49250.706
1    Feb-73                       2262.142818                        49767.142
2    Mar-73                       2262.886818                        49783.510
3    Apr-73                       2260.368591                        49728.109
4    May-73                       2314.251273                        50913.528
5    Jun-73                       2285.879182                        50289.342
6    Jul-73                       2363.156773                        51989.449
7    Aug-73                       2332.857636                        51322.868
8    Sep-73                       2376.528182                        52283.620
9    Oct-73                       2331.407727                        51290.970
10   Nov-73                       2208.972864                        48597.403
11   Dec-73                       2228.130182                        49018.864
12   Jan-74                       2277.182091                        50098.006
13   Feb-74                       2297.888727                        50553.552
14   Mar-74                       2323.690864                        51121.199
15   Apr-74                       2350.510409                        51711.229
16   May-74                       2356.934818                        51852.566
17   Jun-74                       2341.491091                        51512.804
18   Jul-74                       2295.671818                        50504.780
19   Aug-74                       2230.001682                        49060.037
20   Sep-74                       2246.874000                        49431.228
21   Oct-74                       2258.075182                        49677.654
22   Nov-74                       2262.877773                        49783.311
23   Dec-74                       2240.178636                        49283.930
24   Jan-75                       2137.979455                        47035.548
25   Feb-75                       2093.075955                        46047.671
26   Mar-75                       2095.087955                        46091.935
27   Apr-75                       2078.229818                        45721.056
28   May-75                       2096.347864                        46119.653
29   Jun-75                       2152.164136                        47347.611
..      ...                               ...                              ...
529  Feb-17                        248.242252                       289429.136
530  Mar-17                        247.246403                       287497.239
531  Apr-17                        245.684415                       286877.550
532  May-17                        248.317885                       289741.720
533  Jun-17                        250.508637                       291875.415
534  Jul-17                        251.922012                       294037.900
535  Aug-17                        250.381458                       291783.839
536  Sep-17                        250.337596                       292217.818
537  Oct-17                        251.419343                       293700.468
538  Nov-17                        253.639422                       295432.243
539  Dec-17                        252.010349                       293199.718
540  Jan-18                        252.674620                       294525.300
541  Feb-18                        253.528864                       295367.562
542  Mar-18                        253.709623                       295706.090
543  Apr-18                        253.058655                       295885.005
544  May-18                        252.985416                       295849.443
545  Jun-18                        255.273071                       298371.656
546  Jul-18                        257.354145                       300698.801
547  Aug-18                        258.931860                       302101.640
548  Sep-18                        258.002120                       302215.077
549  Oct-18                        260.445267                       304741.655
550  Nov-18                        260.774742                       305019.179
551  Dec-18                        258.896074                       303033.664
552  Jan-19                        255.810485                       298683.284
553  Feb-19                        255.468112                       298063.441
554  Mar-19                        254.523302                       298013.623
555  Apr-19                        254.814160                       298315.383
556  May-19                        253.834612                       297656.181
557  Jun-19                        255.324021                       298811.568
558  Jul-19                        254.600441                       297266.932

[559 rows x 3 columns]

In [7]:
com_pro.to_csv('cp.csv',index=False,header=True)

In [8]:
c_p_w=pd.merge(com_pro, wp, on='Date', how='outer')

In [9]:
c_p_w.to_csv('cpw.csv',index=False,header=True)